<header>
  {{#link-to 'index' id="logo"}}Ditty{{/link-to}}
  {{render 'menu'}}
</header>

{{render 'notifications'}}
{{outlet modal}}
{{outlet}}

{{#if isGivingFeedback}}
  {{render 'feedback'}}
{{/if}}

<p id="footer">Copyright 2014 Mukund Lakshman</p>
