<form class="registration">
  <fieldset>
    {{input type="text"
            name="login"
            class="login"
            value=login
            placeholder="Username"
            required="true"
            autofocus="true"}}

    {{input type="email"
            name="email"
            class="email"
            value=email
            placeholder="Email"
            required="true"}}

    {{input type="password"
            name="password"
            class="password"
            value=password
            placeholder="●●●●●●●●"
            required="true"}}

    {{input type="password"
            name="password-confirmation"
            class="password-confirmation"
            value=passwordConfirmation
            placeholder="●●●●●●●●"
            required="true"}}
  </fieldset>

  <button {{action "register"}}>Register</button>
</form>
