<table class="tracks">
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Added by</th>
  </tr>

  {{#each queuedTracks}}
    <tr {{bind-attr class="hasPlayed isPlaying"}}>
      <td>{{#if title}}{{title}}{{else}}Unknown Title{{/if}}</td>
      <td>{{#if artist}}{{artist}}{{else}}Unknown Artist{{/if}}</td>
      <td>{{#if album}}{{album}}{{else}}Unknown Album{{/if}}</td>
      <td>{{user.login}}</td>
    </tr>
  {{/each}}
</table>
